<!DOCTYPE html>
<html style="font-size: 16px;" lang="es"><head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="Software Backend, Base de Datos, Imagen Redonda, Ejemplo de título, Portafolio Personal, Centro Creativo, Desarrollo Web y Gestor de Bases, Diseño Web, ¡Es hora de conocer a nuestro equipo!, Nuestros clientes, ¿Listo para hablar?, Ejemplo de título">
    <meta name="description" content="">
    <title>Experiencia</title>
    <link rel="stylesheet" href="../assets/css/estilos.css" media="screen">
    <link rel="stylesheet" href="../assets/css/Experiencia.css" media="screen">
   <script class="u-script" type="text/javascript" src="../assets/js/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="../assets/js/estilos.js" defer=""></script>
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i|Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Manrope:200,300,400,500,600,700,800">
    <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": "",
		"sameAs": [
				"https://github.com/JuanBetancur05",
				"mailto:Juanesbetancur09@gmail.com?subject=Contacto",
				"https://co.linkedin.com/in/juan-esteban-betancur-hoyos-7094162b6",
				"https://wa.me/573503911115?text=Hola%20quiero%20más%20información",
				"https://co.linkedin.com/in/juan-esteban-betancur-hoyos-7094162b6",
				"mailto:Juanesbetancur09@gmail.com?subject=Contacto",
				"https://wa.me/573503911115?text=Hola%20quiero%20más%20información",
				"https://github.com/JuanBetancur05"
		]
}</script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Experiencia">
    <meta property="og:type" content="website">
  <meta data-intl-tel-input-cdn-path="intlTelInput/"></head>
  <body data-path-to-root="./" data-include-products="false" class="u-body u-grey-90 u-xl-mode" data-lang="es"><header class="u-align-center-sm u-align-center-xs u-clearfix u-header u-white u-header" id="header"><div class="u-clearfix u-sheet u-valign-middle-lg u-valign-middle-sm u-sheet-1">
        <div class="u-social-icons u-social-icons-1">
          <a class="u-social-url" target="_blank" data-type="Github" title="Github" href="https://github.com/JuanBetancur05"><span class="u-icon u-social-github u-social-icon u-icon-1"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 112 112" style=""><use xlink:href="#svg-adec"></use></svg><svg class="u-svg-content" viewBox="0 0 112 112" x="0" y="0" id="svg-adec"><circle fill="currentColor" cx="56.1" cy="56.1" r="55"></circle><path fill="#FFFFFF" d="M88,51.3c0-5.5-1.9-10.2-5.3-13.7c0.6-1.3,2.3-6.5-0.5-13.5c0,0-4.2-1.4-14,5.3c-4.1-1.1-8.4-1.7-12.7-1.8
	c-4.3,0-8.7,0.6-12.7,1.8c-9.7-6.6-14-5.3-14-5.3c-2.8,7-1,12.2-0.5,13.5C25,41.2,23,45.7,23,51.3c0,19.6,11.9,23.9,23.3,25.2
	c-1.5,1.3-2.8,3.5-3.2,6.8c-3,1.3-10.2,3.6-14.9-4.3c0,0-2.7-4.9-7.8-5.3c0,0-5-0.1-0.4,3.1c0,0,3.3,1.6,5.6,7.5c0,0,3,9.1,17.2,6
	c0,4.3,0.1,8.3,0.1,9.5h25.2c0-1.7,0.1-7.2,0.1-14c0-4.7-1.7-7.9-3.4-9.4C76,75.2,88,70.9,88,51.3z"></path></svg></span>
          </a>
          <a class="u-social-url" target="_blank" data-type="Email" title="Email" href="mailto:Juanesbetancur09@gmail.com?subject=Contacto"><span class="u-icon u-social-email u-social-icon u-icon-2"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 112 112" style=""><use xlink:href="#svg-93b9"></use></svg><svg class="u-svg-content" viewBox="0 0 112 112" x="0" y="0" id="svg-93b9"><circle fill="currentColor" cx="56.1" cy="56.1" r="55"></circle><path id="path3864" fill="#FFFFFF" d="M27.2,28h57.6c4,0,7.2,3.2,7.2,7.2l0,0v42.7c0,3.9-3.2,7.2-7.2,7.2l0,0H27.2
	c-4,0-7.2-3.2-7.2-7.2V35.2C20,31.1,23.2,28,27.2,28 M56,52.9l28.8-17.8H27.2L56,52.9 M27.2,77.7h57.6V43.5L56,61.3L27.2,43.5V77.7z
	"></path></svg></span>
          </a>
          <a class="u-social-url" target="_blank" data-type="LinkedIn" title="LinkedIn" href="https://co.linkedin.com/in/juan-esteban-betancur-hoyos-7094162b6"><span class="u-icon u-social-icon u-social-linkedin u-icon-3"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 112 112" style=""><use xlink:href="#svg-11c9"></use></svg><svg class="u-svg-content" viewBox="0 0 112 112" x="0" y="0" id="svg-11c9"><circle fill="currentColor" cx="56.1" cy="56.1" r="55"></circle><path fill="#FFFFFF" d="M41.3,83.7H27.9V43.4h13.4V83.7z M34.6,37.9L34.6,37.9c-4.6,0-7.5-3.1-7.5-7c0-4,3-7,7.6-7s7.4,3,7.5,7
      C42.2,34.8,39.2,37.9,34.6,37.9z M89.6,83.7H76.2V62.2c0-5.4-1.9-9.1-6.8-9.1c-3.7,0-5.9,2.5-6.9,4.9c-0.4,0.9-0.4,2.1-0.4,3.3v22.5
      H48.7c0,0,0.2-36.5,0-40.3h13.4v5.7c1.8-2.7,5-6.7,12.1-6.7c8.8,0,15.4,5.8,15.4,18.1V83.7z"></path></svg></span>
          </a>
          <a class="u-social-url" target="_blank" data-type="Whatsapp" title="Whatsapp" href="https://wa.me/573503911115?text=Hola%20quiero%20más%20información"><span class="u-icon u-social-icon u-social-whatsapp u-icon-4"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 112 112" style=""><use xlink:href="#svg-d28e"></use></svg><svg class="u-svg-content" viewBox="0 0 112 112" x="0" y="0" id="svg-d28e"><circle fill="currentColor" cx="56.1" cy="56.1" r="55"></circle><path fill="#FFFFFF" d="M83.8,28.3C77.2,21.7,68.4,18,59,18c-19.3,0-35.1,15.7-35.1,35.1c0,6.2,1.6,12.2,4.7,17.5l-5,18.2L42.2,84
	c5.1,2.8,10.9,4.3,16.8,4.3h0l0,0c19.3,0,35.1-15.7,35.1-35.1C94.1,43.8,90.5,35,83.8,28.3 M59,82.3L59,82.3
	c-5.2,0-10.4-1.4-14.9-4.1l-1.1-0.6l-11,2.9L35,69.8l-0.7-1.1c-2.9-4.6-4.5-10-4.5-15.5C29.8,37,42.9,24,59,24
	c7.8,0,15.1,3,20.6,8.6c5.5,5.5,8.5,12.8,8.5,20.6C88.2,69.2,75.1,82.3,59,82.3 M75,60.5c-0.9-0.4-5.2-2.6-6-2.9
	c-0.8-0.3-1.4-0.4-2,0.4s-2.3,2.9-2.8,3.4c-0.5,0.6-1,0.7-1.9,0.2c-0.9-0.4-3.7-1.4-7.1-4.4c-2.6-2.3-4.4-5.2-4.9-6.1
	c-0.5-0.9-0.1-1.4,0.4-1.8c0.4-0.4,0.9-1,1.3-1.5c0.4-0.5,0.6-0.9,0.9-1.5c0.3-0.6,0.1-1.1-0.1-1.5c-0.2-0.4-2-4.8-2.7-6.5
	c-0.7-1.7-1.4-1.5-2-1.5c-0.5,0-1.1,0-1.7,0c-0.6,0-1.5,0.2-2.3,1.1c-0.8,0.9-3.1,3-3.1,7.3c0,4.3,3.1,8.5,3.6,9.1
	c0.4,0.6,6.2,9.4,15,13.2c2.1,0.9,3.7,1.4,5,1.8c2.1,0.7,4,0.6,5.5,0.3c1.7-0.3,5.2-2.1,5.9-4.2c0.7-2,0.7-3.8,0.5-4.2
	C76.5,61.1,75.9,60.9,75,60.5"></path></svg></span>
          </a>
        </div>
        <nav class="u-align-left u-menu u-menu-one-level u-offcanvas u-menu-1" data-responsive-from="MD" data-animation-name="fadeIn" data-animation-duration="1000" data-animation-delay="0" data-submenu-level="with-reload" role="navigation">
          <div class="menu-collapse" style="font-size: 1rem;">
            <a class="u-button-style u-custom-active-border-color u-custom-color u-custom-hover-border-color u-custom-text-active-color u-custom-text-color u-custom-text-hover-color u-custom-text-shadow u-hamburger-link u-nav-link u-hamburger-link-1" href="#" tabindex="-1" aria-label="Open menu" aria-controls="d08a">
              <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 302 302" style=""><use xlink:href="#svg-8a8f"></use></svg>
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="svg-8a8f" x="0px" y="0px" viewBox="0 0 302 302" style="enable-background:new 0 0 302 302;" xml:space="preserve" class="u-svg-content"><g><rect y="36" width="302" height="30"></rect><rect y="236" width="302" height="30"></rect><rect y="136" width="302" height="30"></rect>
</g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
            </a>
          </div>
          <div class="u-custom-menu u-nav-container">
            <ul class="u-nav u-unstyled u-nav-1" role="menubar"><li role="none" class="u-nav-item"><a tabindex="-1" role="menuitem" class="u-border-2 u-button-style u-nav-link u-text-active-custom-color-7 u-text-custom-color-7 u-text-hover-custom-color-7" href="/index.html" data-page-id="2772025404" aria-haspopup="true" style="padding: 10px 20px;">Resumen</a>

</li><li role="none" class="u-nav-item"><a role="menuitem" class="u-border-2 u-button-style u-nav-link u-text-active-custom-color-7 u-text-custom-color-7 u-text-hover-custom-color-7" href="../views/Experiencia.html" style="padding: 10px 20px;">Experiencia</a>
  </li><li role="none" class="u-nav-item"><a role="menuitem" class="u-border-2 u-button-style u-nav-link u-text-active-custom-color-7 u-text-custom-color-7 u-text-hover-custom-color-7" href="../views/Proyectos.html" style="padding: 10px 20px;">Proyectos</a>
<!-- </li><li role="none" class="u-nav-item"><a role="menuitem" class="u-border-2 u-button-style u-nav-link u-text-active-custom-color-7 u-text-custom-color-7 u-text-hover-custom-color-7" href="../views/Contacto.html" style="padding: 10px 20px;">Contacto</a> -->

</li></ul>
          </div>
          <div class="u-custom-menu u-nav-container-collapse" id="d08a" role="region" aria-label="Menu panel">
            <div class="u-align-center u-black u-container-align-center u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
              <div class="u-inner-container-layout u-sidenav-overflow">
                <div class="u-menu-close" tabindex="-1" aria-label="Close menu"></div>
                <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2" role="menubar"><li role="none" class="u-nav-item"><a tabindex="-1" role="menuitem" class="u-button-style u-nav-link" href="../index.html" data-page-id="2772025404" aria-haspopup="true">Resumen</a>

</li><li role="none" class="u-nav-item"><a role="menuitem" class="u-button-style u-nav-link" href="../views/Experiencia.html">Experiencia</a>
  </li><li role="none" class="u-nav-item"><a role="menuitem" class="u-button-style u-nav-link" href="../views/Proyectos.html">Proyectos</a>
<!-- </li><li role="none" class="u-nav-item"><a role="menuitem" class="u-button-style u-nav-link" href="Contacto.html">Contacto</a> -->

</li></ul>
              </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
          </div>
          <style class="menu-style">@media (max-width: 939px) {
                    [data-responsive-from="MD"] .u-nav-container {
                        display: none;
                    }
                    [data-responsive-from="MD"] .menu-collapse {
                        display: block;
                    }
                }</style>
        </nav>
    <img class="u-hover-feature u-image u-image-default u-image-1" id="btn-es" src="../../assets/images/Flag_of_Spain.svg" alt="Español">
        <img class="u-hover-feature u-image u-image-default u-image-2" id="btn-en" src="../../assets/images/Flag_of_the_United_Kingdom_3-5.svg" alt="English">
      </div></header> 
    <section class="u-align-center-lg u-align-center-md u-align-center-xl u-align-left-sm u-align-left-xs u-clearfix u-custom-color-15 u-section-1" id="sec-a17c">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <h2 class="u-align-center-xs u-custom-font u-text u-text-custom-color-19 u-text-default u-text-1" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="0">Experiencias</h2>
        <p class="u-align-center-xs u-custom-font u-text u-text-palette-5-light-2 u-text-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500"> Aquí podrás visualizar más sobre mi experiencia laboral.</p>
        <div class="u-list u-list-1">
          <div class="u-repeater u-repeater-1">
            <div class="u-align-left u-container-align-left u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-container-layout-1">
                <div class="u-border-2 u-border-white u-expanded-width u-line u-line-horizontal u-line-1" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="250"></div>
                <p class="u-custom-font u-text u-text-palette-5-light-2 u-text-3" data-animation-name="customAnimationIn" data-animation-duration="1750" id="fecha-exp1"> Agosto 5 - Diciembre​ 2&nbsp;<br>2024
                </p>
                <div class="u-container-style u-expanded-width-sm u-expanded-width-xs u-group u-shape-rectangle u-group-1" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="750">
                  <div class="u-container-layout u-valign-top u-container-layout-2">
                    <h5 class="u-custom-font u-text u-text-custom-color-19 u-text-default u-text-4" id="puesto-exp1">Desarrollador junior</h5>
                    <p class="u-align-left-xs u-custom-font u-text u-text-palette-5-light-1 u-text-5" id="detalle-exp1">Utilicé tecnologías como Nodemailer para el envío de correos electrónicos, reCAPTCHA para la validación de formularios, FullCalendar para la gestión de eventos, y JWT para la autenticación y seguridad del sistema. Esta experiencia me permitió profundizar en el diseño estructural de aplicaciones y en la implementación de soluciones seguras y escalables.</p>
                    <a href="#" class="u-active-none u-btn u-button-style u-custom-font u-hover-none u-none u-text-body-alt-color u-btn-1" id="ubicacion-exp1">Freelance/ medellín</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="u-align-left u-container-align-left u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-container-layout-3">
                <div class="u-border-2 u-border-white u-expanded-width u-line u-line-horizontal u-line-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="250"></div>
                <p class="u-custom-font u-text u-text-palette-5-light-2 u-text-6" data-animation-name="customAnimationIn" data-animation-duration="1750" id="fecha-exp2"> Enero 17 - Julio 17&nbsp;<br>2025
                </p>
                <div class="u-container-style u-expanded-width-sm u-expanded-width-xs u-group u-shape-rectangle u-group-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="750">
                  <div class="u-container-layout u-valign-top u-container-layout-4">
                    <h5 class="u-custom-font u-text u-text-custom-color-19 u-text-default u-text-7" id="puesto-exp2">Desarrollador junior</h5>
                    <p class="u-align-left-xs u-custom-font u-text u-text-palette-5-light-1 u-text-8"  id="detalle-exp2"> Actualmente, automatizo procesos en una empresa de producción. Utilizo tecnologías afines a Google y trabajo de manera integrada con el ERP de la empresa para garantizar una gestión fluida y precisa de los datos.</p>
                    <a href="#" class="u-active-none u-btn u-button-style u-custom-font u-hover-none u-none u-text-body-alt-color u-btn-2"  id="ubicacion-exp2"> Experiencia laboral/ Sabaneta</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="u-align-left u-container-align-left u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-container-layout-5">
                <div class="u-border-2 u-border-white u-expanded-width u-line u-line-horizontal u-line-3" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="250"></div>
                <p class="u-custom-font u-text u-text-palette-5-light-2 u-text-9" data-animation-name="customAnimationIn" data-animation-duration="1750" id="fecha-exp3">Marzo - 2025</p>
                <div class="u-container-style u-expanded-width-sm u-expanded-width-xs u-group u-shape-rectangle u-group-3" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="750">
                  <div class="u-container-layout u-valign-top u-container-layout-6">
                    <h5 class="u-custom-font u-text u-text-custom-color-19 u-text-default u-text-10" id="puesto-exp3">Desarrollador junior</h5>
                    <p class="u-align-left-xs u-custom-font u-text u-text-palette-5-light-1 u-text-11" id="detalle-exp3"> Recientemente, trabajé para una empresa de diseño de arquitectura, desarrollando un software a medida que respondiera a las necesidades específicas del cliente. Usando patrón de diseño MVC creé una solución&nbsp; escalable que incluye un catálogo de productos interactivo, , así como una landing page optimizada para captar la atención de los visitantes y generar conversiones.</p>
                    <a href="#" class="u-active-none u-btn u-button-style u-custom-font u-hover-none u-none u-text-body-alt-color u-btn-3" id="ubicacion-exp3">Freelance/Medellín</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

         <script>
        async function cambiarIdioma(idioma) {
            try {
                const respuesta = await fetch(idioma === "es" ? "../assets/js/es.json" : "../assets/js/en.json");
                const datos = await respuesta.json(); 
                document.getElementById("inicio").innerText = datos.inicio;
                document.getElementById("habilidades").innerText = datos.habilidades;
                document.getElementById("experiencia").innerText = datos.experiencia;
                document.getElementById("contacto1").innerText = datos.contacto1;
                document.getElementById("experiencias").innerText = datos.experiencias;
                document.getElementById("descripcion-experiencias").innerText = datos.descripcionExperiencias;
                document.getElementById("fecha-exp1").innerHTML = datos.fechaExp1;
                document.getElementById("puesto-exp1").innerText = datos.puestoExp1;
                document.getElementById("ubicacion-exp1").innerText = datos.ubicacionExp1;
                document.getElementById("fecha-exp2").innerHTML = datos.fechaExp2;
                document.getElementById("puesto-exp2").innerText = datos.puestoExp2;
                document.getElementById("ubicacion-exp2").innerText = datos.ubicacionExp2;
                document.getElementById("fecha-exp3").innerText = datos.fechaExp3;
                document.getElementById("puesto-exp3").innerText = datos.puestoExp3;
                document.getElementById("ubicacion-exp3").innerText = datos.ubicacionExp3;
                document.getElementById("detalle-exp1").innerHTML = datos.detalleExp1;
                document.getElementById("detalle-exp2").innerHTML = datos.detalleExp2;
                document.getElementById("detalle-exp3").innerHTML = datos.detalleExp3;
            } catch (error) {
                console.error("Error al cargar el archivo JSON", error);
            }
        }
    
        // Eventos para cambiar el idioma al hacer clic en las banderas
        document.getElementById("btn-es").addEventListener("click", function() {
            cambiarIdioma("es");
        });
    
        document.getElementById("btn-en").addEventListener("click", function() {
            cambiarIdioma("en");
        });
    </script>
    
    
    <footer class="u-clearfix u-footer u-white" id="footer"><div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="u-align-left u-social-icons u-social-icons-1">
          <a class="u-social-url" title="linkedin" target="_blank" href="https://co.linkedin.com/in/juan-esteban-betancur-hoyos-7094162b6"><span class="u-icon u-social-icon u-social-linkedin u-icon-1"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 112 112" style=""><use xlink:href="#svg-9e94"></use></svg><svg class="u-svg-content" viewBox="0 0 112 112" x="0" y="0" id="svg-9e94"><circle fill="currentColor" cx="56.1" cy="56.1" r="55"></circle><path fill="#FFFFFF" d="M41.3,83.7H27.9V43.4h13.4V83.7z M34.6,37.9L34.6,37.9c-4.6,0-7.5-3.1-7.5-7c0-4,3-7,7.6-7s7.4,3,7.5,7
      C42.2,34.8,39.2,37.9,34.6,37.9z M89.6,83.7H76.2V62.2c0-5.4-1.9-9.1-6.8-9.1c-3.7,0-5.9,2.5-6.9,4.9c-0.4,0.9-0.4,2.1-0.4,3.3v22.5
      H48.7c0,0,0.2-36.5,0-40.3h13.4v5.7c1.8-2.7,5-6.7,12.1-6.7c8.8,0,15.4,5.8,15.4,18.1V83.7z"></path></svg></span>
          </a>
          <a class="u-social-url" target="_blank" data-type="Email" title="Email" href="mailto:Juanesbetancur09@gmail.com?subject=Contacto"><span class="u-icon u-social-email u-social-icon u-icon-2"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 112 112" style=""><use xlink:href="#svg-8617"></use></svg><svg class="u-svg-content" viewBox="0 0 112 112" x="0" y="0" id="svg-8617"><circle fill="currentColor" cx="56.1" cy="56.1" r="55"></circle><path id="path3864" fill="#FFFFFF" d="M27.2,28h57.6c4,0,7.2,3.2,7.2,7.2l0,0v42.7c0,3.9-3.2,7.2-7.2,7.2l0,0H27.2
	c-4,0-7.2-3.2-7.2-7.2V35.2C20,31.1,23.2,28,27.2,28 M56,52.9l28.8-17.8H27.2L56,52.9 M27.2,77.7h57.6V43.5L56,61.3L27.2,43.5V77.7z
	"></path></svg></span>
          </a>
          <a class="u-social-url" target="_blank" data-type="Whatsapp" title="Whatsapp" href="https://wa.me/573503911115?text=Hola%20quiero%20más%20información"><span class="u-icon u-social-icon u-social-whatsapp u-icon-3"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 112 112" style=""><use xlink:href="#svg-327a"></use></svg><svg class="u-svg-content" viewBox="0 0 112 112" x="0" y="0" id="svg-327a"><circle fill="currentColor" cx="56.1" cy="56.1" r="55"></circle><path fill="#FFFFFF" d="M83.8,28.3C77.2,21.7,68.4,18,59,18c-19.3,0-35.1,15.7-35.1,35.1c0,6.2,1.6,12.2,4.7,17.5l-5,18.2L42.2,84
	c5.1,2.8,10.9,4.3,16.8,4.3h0l0,0c19.3,0,35.1-15.7,35.1-35.1C94.1,43.8,90.5,35,83.8,28.3 M59,82.3L59,82.3
	c-5.2,0-10.4-1.4-14.9-4.1l-1.1-0.6l-11,2.9L35,69.8l-0.7-1.1c-2.9-4.6-4.5-10-4.5-15.5C29.8,37,42.9,24,59,24
	c7.8,0,15.1,3,20.6,8.6c5.5,5.5,8.5,12.8,8.5,20.6C88.2,69.2,75.1,82.3,59,82.3 M75,60.5c-0.9-0.4-5.2-2.6-6-2.9
	c-0.8-0.3-1.4-0.4-2,0.4s-2.3,2.9-2.8,3.4c-0.5,0.6-1,0.7-1.9,0.2c-0.9-0.4-3.7-1.4-7.1-4.4c-2.6-2.3-4.4-5.2-4.9-6.1
	c-0.5-0.9-0.1-1.4,0.4-1.8c0.4-0.4,0.9-1,1.3-1.5c0.4-0.5,0.6-0.9,0.9-1.5c0.3-0.6,0.1-1.1-0.1-1.5c-0.2-0.4-2-4.8-2.7-6.5
	c-0.7-1.7-1.4-1.5-2-1.5c-0.5,0-1.1,0-1.7,0c-0.6,0-1.5,0.2-2.3,1.1c-0.8,0.9-3.1,3-3.1,7.3c0,4.3,3.1,8.5,3.6,9.1
	c0.4,0.6,6.2,9.4,15,13.2c2.1,0.9,3.7,1.4,5,1.8c2.1,0.7,4,0.6,5.5,0.3c1.7-0.3,5.2-2.1,5.9-4.2c0.7-2,0.7-3.8,0.5-4.2
	C76.5,61.1,75.9,60.9,75,60.5"></path></svg></span>
          </a>
          <a class="u-social-url" target="_blank" data-type="Github" title="Github" href="https://github.com/JuanBetancur05"><span class="u-icon u-social-github u-social-icon u-icon-4"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 112 112" style=""><use xlink:href="#svg-3393"></use></svg><svg class="u-svg-content" viewBox="0 0 112 112" x="0" y="0" id="svg-3393"><circle fill="currentColor" cx="56.1" cy="56.1" r="55"></circle><path fill="#FFFFFF" d="M88,51.3c0-5.5-1.9-10.2-5.3-13.7c0.6-1.3,2.3-6.5-0.5-13.5c0,0-4.2-1.4-14,5.3c-4.1-1.1-8.4-1.7-12.7-1.8
	c-4.3,0-8.7,0.6-12.7,1.8c-9.7-6.6-14-5.3-14-5.3c-2.8,7-1,12.2-0.5,13.5C25,41.2,23,45.7,23,51.3c0,19.6,11.9,23.9,23.3,25.2
	c-1.5,1.3-2.8,3.5-3.2,6.8c-3,1.3-10.2,3.6-14.9-4.3c0,0-2.7-4.9-7.8-5.3c0,0-5-0.1-0.4,3.1c0,0,3.3,1.6,5.6,7.5c0,0,3,9.1,17.2,6
	c0,4.3,0.1,8.3,0.1,9.5h25.2c0-1.7,0.1-7.2,0.1-14c0-4.7-1.7-7.9-3.4-9.4C76,75.2,88,70.9,88,51.3z"></path></svg></span>
          </a>
        </div>
      </div></footer>

  
</body></html>