<!DOCTYPE html>
<html style="font-size: 16px;" lang="es"><head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="Software Backend, Base de Datos, Imagen Redonda, Ejemplo de título, Portafolio Personal, Centro Creativo, Desarrollo Web y Gestor de Bases, Diseño Web, ¡Es hora de conocer a nuestro equipo!, Nuestros clientes, ¿Listo para hablar?, Ejemplo de título">
    <meta name="description" content="">
      <link rel="stylesheet" href="../assets/css/estilos.css" media="screen">
<link rel="stylesheet" href="../assets/css/Proyectos.css" media="screen">
    <script class="u-script" type="text/javascript" src="../assets/js/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="../assets/js/estilos.js" defer=""></script>
    
    
    
    
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i|Manrope:200,300,400,500,600,700,800">
    <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": "",
		"sameAs": [
				"https://github.com/JuanBetancur05",
				"mailto:Juanesbetancur09@gmail.com?subject=Contacto",
				"https://co.linkedin.com/in/juan-esteban-betancur-hoyos-7094162b6",
				"https://wa.me/573503911115?text=Hola%20quiero%20más%20información",
				"https://co.linkedin.com/in/juan-esteban-betancur-hoyos-7094162b6",
				"mailto:Juanesbetancur09@gmail.com?subject=Contacto",
				"https://wa.me/573503911115?text=Hola%20quiero%20más%20información",
				"https://github.com/JuanBetancur05"
		]
}</script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Proyectos">
    <meta property="og:type" content="website">
  <meta data-intl-tel-input-cdn-path="intlTelInput/"></head>
  <body data-path-to-root="./" data-include-products="false" class="u-body u-grey-90 u-xl-mode" data-lang="es"><header class="u-align-center-sm u-align-center-xs u-clearfix u-custom-color-15 u-header u-header" id="header"><div class="u-clearfix u-sheet u-valign-middle-lg u-valign-middle-sm u-sheet-1">
        <div class="u-social-icons u-social-icons-1">
          <a class="u-social-url" target="_blank" data-type="Github" title="Github" href="https://github.com/JuanBetancur05"><span class="u-icon u-social-github u-social-icon u-icon-1"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 112 112" style=""><use xlink:href="#svg-adec"></use></svg><svg class="u-svg-content" viewBox="0 0 112 112" x="0" y="0" id="svg-adec"><circle fill="currentColor" cx="56.1" cy="56.1" r="55"></circle><path fill="#FFFFFF" d="M88,51.3c0-5.5-1.9-10.2-5.3-13.7c0.6-1.3,2.3-6.5-0.5-13.5c0,0-4.2-1.4-14,5.3c-4.1-1.1-8.4-1.7-12.7-1.8
	c-4.3,0-8.7,0.6-12.7,1.8c-9.7-6.6-14-5.3-14-5.3c-2.8,7-1,12.2-0.5,13.5C25,41.2,23,45.7,23,51.3c0,19.6,11.9,23.9,23.3,25.2
	c-1.5,1.3-2.8,3.5-3.2,6.8c-3,1.3-10.2,3.6-14.9-4.3c0,0-2.7-4.9-7.8-5.3c0,0-5-0.1-0.4,3.1c0,0,3.3,1.6,5.6,7.5c0,0,3,9.1,17.2,6
	c0,4.3,0.1,8.3,0.1,9.5h25.2c0-1.7,0.1-7.2,0.1-14c0-4.7-1.7-7.9-3.4-9.4C76,75.2,88,70.9,88,51.3z"></path></svg></span>
          </a>
          <a class="u-social-url" target="_blank" data-type="Email" title="Email" href="mailto:Juanesbetancur09@gmail.com?subject=Contacto"><span class="u-icon u-social-email u-social-icon u-icon-2"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 112 112" style=""><use xlink:href="#svg-93b9"></use></svg><svg class="u-svg-content" viewBox="0 0 112 112" x="0" y="0" id="svg-93b9"><circle fill="currentColor" cx="56.1" cy="56.1" r="55"></circle><path id="path3864" fill="#FFFFFF" d="M27.2,28h57.6c4,0,7.2,3.2,7.2,7.2l0,0v42.7c0,3.9-3.2,7.2-7.2,7.2l0,0H27.2
	c-4,0-7.2-3.2-7.2-7.2V35.2C20,31.1,23.2,28,27.2,28 M56,52.9l28.8-17.8H27.2L56,52.9 M27.2,77.7h57.6V43.5L56,61.3L27.2,43.5V77.7z
	"></path></svg></span>
          </a>
          <a class="u-social-url" target="_blank" data-type="LinkedIn" title="LinkedIn" href="https://co.linkedin.com/in/juan-esteban-betancur-hoyos-7094162b6"><span class="u-icon u-social-icon u-social-linkedin u-icon-3"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 112 112" style=""><use xlink:href="#svg-11c9"></use></svg><svg class="u-svg-content" viewBox="0 0 112 112" x="0" y="0" id="svg-11c9"><circle fill="currentColor" cx="56.1" cy="56.1" r="55"></circle><path fill="#FFFFFF" d="M41.3,83.7H27.9V43.4h13.4V83.7z M34.6,37.9L34.6,37.9c-4.6,0-7.5-3.1-7.5-7c0-4,3-7,7.6-7s7.4,3,7.5,7
      C42.2,34.8,39.2,37.9,34.6,37.9z M89.6,83.7H76.2V62.2c0-5.4-1.9-9.1-6.8-9.1c-3.7,0-5.9,2.5-6.9,4.9c-0.4,0.9-0.4,2.1-0.4,3.3v22.5
      H48.7c0,0,0.2-36.5,0-40.3h13.4v5.7c1.8-2.7,5-6.7,12.1-6.7c8.8,0,15.4,5.8,15.4,18.1V83.7z"></path></svg></span>
          </a>
          <a class="u-social-url" target="_blank" data-type="Whatsapp" title="Whatsapp" href="https://wa.me/573503911115?text=Hola%20quiero%20más%20información"><span class="u-icon u-social-icon u-social-whatsapp u-icon-4"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 112 112" style=""><use xlink:href="#svg-d28e"></use></svg><svg class="u-svg-content" viewBox="0 0 112 112" x="0" y="0" id="svg-d28e"><circle fill="currentColor" cx="56.1" cy="56.1" r="55"></circle><path fill="#FFFFFF" d="M83.8,28.3C77.2,21.7,68.4,18,59,18c-19.3,0-35.1,15.7-35.1,35.1c0,6.2,1.6,12.2,4.7,17.5l-5,18.2L42.2,84
	c5.1,2.8,10.9,4.3,16.8,4.3h0l0,0c19.3,0,35.1-15.7,35.1-35.1C94.1,43.8,90.5,35,83.8,28.3 M59,82.3L59,82.3
	c-5.2,0-10.4-1.4-14.9-4.1l-1.1-0.6l-11,2.9L35,69.8l-0.7-1.1c-2.9-4.6-4.5-10-4.5-15.5C29.8,37,42.9,24,59,24
	c7.8,0,15.1,3,20.6,8.6c5.5,5.5,8.5,12.8,8.5,20.6C88.2,69.2,75.1,82.3,59,82.3 M75,60.5c-0.9-0.4-5.2-2.6-6-2.9
	c-0.8-0.3-1.4-0.4-2,0.4s-2.3,2.9-2.8,3.4c-0.5,0.6-1,0.7-1.9,0.2c-0.9-0.4-3.7-1.4-7.1-4.4c-2.6-2.3-4.4-5.2-4.9-6.1
	c-0.5-0.9-0.1-1.4,0.4-1.8c0.4-0.4,0.9-1,1.3-1.5c0.4-0.5,0.6-0.9,0.9-1.5c0.3-0.6,0.1-1.1-0.1-1.5c-0.2-0.4-2-4.8-2.7-6.5
	c-0.7-1.7-1.4-1.5-2-1.5c-0.5,0-1.1,0-1.7,0c-0.6,0-1.5,0.2-2.3,1.1c-0.8,0.9-3.1,3-3.1,7.3c0,4.3,3.1,8.5,3.6,9.1
	c0.4,0.6,6.2,9.4,15,13.2c2.1,0.9,3.7,1.4,5,1.8c2.1,0.7,4,0.6,5.5,0.3c1.7-0.3,5.2-2.1,5.9-4.2c0.7-2,0.7-3.8,0.5-4.2
	C76.5,61.1,75.9,60.9,75,60.5"></path></svg></span>
          </a>
        </div>
        <nav class="u-align-left u-menu u-menu-one-level u-offcanvas u-menu-1" data-responsive-from="MD" data-animation-name="fadeIn" data-animation-duration="1000" data-animation-delay="0" data-submenu-level="with-reload" role="navigation">
          <div class="menu-collapse" style="font-size: 1rem;">
            <a class="u-button-style u-custom-active-border-color u-custom-color u-custom-hover-border-color u-custom-text-active-color u-custom-text-color u-custom-text-hover-color u-custom-text-shadow u-hamburger-link u-nav-link u-hamburger-link-1" href="#" tabindex="-1" aria-label="Open menu" aria-controls="d08a">
              <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 302 302" style=""><use xlink:href="#svg-8a8f"></use></svg>
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="svg-8a8f" x="0px" y="0px" viewBox="0 0 302 302" style="enable-background:new 0 0 302 302;" xml:space="preserve" class="u-svg-content"><g><rect y="36" width="302" height="30"></rect><rect y="236" width="302" height="30"></rect><rect y="136" width="302" height="30"></rect>
</g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
            </a>
          </div>
          <div class="u-custom-menu u-nav-container">
                      <ul class="u-nav u-unstyled u-nav-1" role="menubar"><li role="none" class="u-nav-item"><a tabindex="-1" role="menuitem" class="u-border-2 u-button-style u-nav-link u-text-active-custom-color-7 u-text-custom-color-7 u-text-hover-custom-color-7" href="/index.html" data-page-id="2772025404" aria-haspopup="true" style="padding: 10px 20px;">Resumen</a>

</li><li role="none" class="u-nav-item"><a role="menuitem" class="u-border-2 u-button-style u-nav-link u-text-active-custom-color-7 u-text-custom-color-7 u-text-hover-custom-color-7" href="../views/Experiencia.html" style="padding: 10px 20px;">Experiencia</a>
  </li><li role="none" class="u-nav-item"><a role="menuitem" class="u-border-2 u-button-style u-nav-link u-text-active-custom-color-7 u-text-custom-color-7 u-text-hover-custom-color-7" href="../views/Proyectos.html" style="padding: 10px 20px;">Proyectos</a>
<!-- </li><li role="none" class="u-nav-item"><a role="menuitem" class="u-border-2 u-button-style u-nav-link u-text-active-custom-color-7 u-text-custom-color-7 u-text-hover-custom-color-7" href="../views/Contacto.html" style="padding: 10px 20px;">Contacto</a> -->
</ul>
          </div>
          <div class="u-custom-menu u-nav-container-collapse" id="d08a" role="region" aria-label="Menu panel">
            <div class="u-align-center u-black u-container-align-center u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
              <div class="u-inner-container-layout u-sidenav-overflow">
                <div class="u-menu-close" tabindex="-1" aria-label="Close menu"></div>
         <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2" role="menubar"><li role="none" class="u-nav-item"><a tabindex="-1" role="menuitem" class="u-button-style u-nav-link" href="../index.html" data-page-id="2772025404" aria-haspopup="true">Resumen</a>

</li><li role="none" class="u-nav-item"><a role="menuitem" class="u-button-style u-nav-link" href="../views/Experiencia.html">Experiencia</a>
  </li><li role="none" class="u-nav-item"><a role="menuitem" class="u-button-style u-nav-link" href="../views/Proyectos.html">Proyectos</a>
<!-- </li><li role="none" class="u-nav-item"><a role="menuitem" class="u-button-style u-nav-link" href="Contacto.html">Contacto</a> -->
</li></ul>
              </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
          </div>
          <style class="menu-style">@media (max-width: 939px) {
                    [data-responsive-from="MD"] .u-nav-container {
                        display: none;
                    }
                    [data-responsive-from="MD"] .menu-collapse {
                        display: block;
                    }
                }</style>
        </nav>
        <img class="u-hover-feature u-image u-image-default u-image-1" src="../assets/images/Flag_of_Spain.svg" alt="" data-image-width="750" data-image-height="500">
        <img class="u-hover-feature u-image u-image-default u-image-2" src="../assets/images/Flag_of_the_United_Kingdom_3-5.svg" alt="" data-image-width="1000" data-image-height="600">
      </div></header> 

    <section class="u-clearfix u-custom-color-15 u-section-2" id="sec-e57f">
      <div class="u-clearfix u-sheet u-sheet-1">
        <p class="u-align-right u-custom-font u-text u-text-custom-color-19 u-text-default u-text-default-xxl u-text-1">Proyectos<br>
        </p>
        <div class="u-container-style u-custom-color-15 u-expanded-width-xs u-group u-radius u-group-1">
          <div class="u-container-layout u-container-layout-1">
            <img class="u-expanded-width-xs u-hover-feature u-image u-image-round u-radius u-image-1" src="../assets/images/Capturadepantalla2025-06-25114911.png" alt="" data-image-width="724" data-image-height="618" data-href="../views/yamix.html"> 
            <p class="u-text u-text-custom-color-19 u-text-default u-text-2">Yamix<br>
            </p>
            <div class="custom-expanded u-align-center-lg u-align-center-xl u-container-align-center-lg u-container-align-center-xl u-container-align-center-xxl u-container-style u-custom-color-16 u-group u-radius u-group-2">
              <div class="u-container-layout u-container-layout-2"><span class="u-file-icon u-icon u-icon-1"><img src="../assets/images/icons8-html-48.png" alt=""></span>
                <p class="u-custom-font u-text u-text-custom-color-22 u-text-3">Html<br>
                </p>
              </div>
            </div>
            <div class="custom-expanded u-align-center-lg u-align-center-xl u-container-align-center-lg u-container-align-center-xl u-container-align-center-xxl u-container-style u-custom-color-16 u-group u-radius u-group-3">
              <div class="u-container-layout u-container-layout-3"><span class="u-file-icon u-icon u-icon-2"><img src="../assets/images/icons8-css-48.png" alt=""></span>
                <p class="u-custom-font u-text u-text-custom-color-22 u-text-4">Css<br>
                </p>
              </div>
            </div>
            <div class="custom-expanded u-align-center-lg u-align-center-xl u-container-align-center-lg u-container-align-center-xl u-container-align-center-xxl u-container-style u-custom-color-16 u-group u-radius u-group-4">
              <div class="u-container-layout u-container-layout-4"><span class="u-file-icon u-icon u-icon-3"><img src="../assets/images/icons8-nodo-js-48.png" alt=""></span>
                <p class="u-custom-font u-text u-text-custom-color-22 u-text-5">NodeJs<br>
                </p>
              </div>
            </div>
            <div class="custom-expanded u-align-center-lg u-align-center-xl u-container-align-center-lg u-container-align-center-xl u-container-align-center-xxl u-container-style u-custom-color-16 u-group u-radius u-group-5">
              <div class="u-container-layout u-container-layout-5"><span class="u-file-icon u-icon u-icon-4"><img src="../assets/images/icons8-mysql-48.png" alt=""></span>
                <p class="u-custom-font u-text u-text-custom-color-22 u-text-6">Mysql<br>
                </p>
              </div>
            </div>
            <p class="u-text u-text-custom-color-22 u-text-7"> La solución que le brindamos a Yamix es un aplicativo web-mobile que optimiza la gestión de inscripciones y el control de asistencia de los estudiantes.</p><span class="u-file-icon u-hover-feature u-icon u-text-custom-color-19 u-icon-5" data-href="https://github.com/JuanBetancur05"><img src="../assets/images/enlace-e61ae5bf.png" alt=""></span>
            <img class="u-hover-feature u-image u-image-contain u-image-default u-preserve-proportions u-image-2" src="../assets/images/Github_icon-icons.com_66788.png" alt="" data-image-width="150" data-image-height="150" data-href="https://github.com/JuanBetancur05">
            <p class="u-text u-text-default u-text-8">Abril 18 , 2023 </p>
          </div>
        </div>
        <div class="u-container-style u-custom-color-15 u-expanded-width-xs u-group u-radius u-group-6">
          <div class="u-container-layout u-container-layout-6">
            <img class="u-hover-feature u-image u-image-round u-radius u-image-3" src="../assets/images/Capturadepantalla2025-06-25113901.png" alt="" data-image-width="900" data-image-height="471" data-href="https://arida-studio.vercel.app/">
            <p class="u-text u-text-custom-color-19 u-text-default-lg u-text-default-md u-text-default-sm u-text-default-xl u-text-9">Árida Studio<br>
            </p>
            <div class="custom-expanded u-align-center-xl u-container-align-center-lg u-container-align-center-xl u-container-align-center-xxl u-container-style u-custom-color-16 u-group u-radius u-group-7">
              <div class="u-container-layout u-container-layout-7"><span class="u-file-icon u-icon u-icon-6"><img src="../assets/images/icons8-html-48.png" alt=""></span>
                <p class="u-custom-font u-text u-text-custom-color-22 u-text-10">Html<br>
                </p>
              </div>
            </div>
            <div class="custom-expanded u-align-center-xl u-container-align-center-lg u-container-align-center-xl u-container-style u-custom-color-16 u-group u-radius u-group-8">
              <div class="u-container-layout u-container-layout-8"><span class="u-file-icon u-icon u-icon-7"><img src="../assets/images/icons8-css-48.png" alt=""></span>
                <p class="u-custom-font u-text u-text-custom-color-22 u-text-11">Css<br>
                </p>
              </div>
            </div>
            <div class="custom-expanded u-align-center-xl u-container-align-center-lg u-container-align-center-xl u-container-align-center-xxl u-container-style u-custom-color-16 u-group u-radius u-group-9">
              <div class="u-container-layout u-container-layout-9"><span class="u-file-icon u-icon u-icon-8"><img src="../assets/images/icons8-js-48.png" alt=""></span>
                <p class="u-custom-font u-text u-text-custom-color-22 u-text-12">Javascript<br>
                </p>
              </div>
            </div>
            <p class="u-text u-text-13"> Se desarrolló una landing page con el objetivo de ofrecer una interfaz limpia y usable. Se utilizó el patrón MVC y se establecieron conexiones a APIs externas.</p><span class="u-file-icon u-hover-feature u-icon u-text-custom-color-19 u-icon-9" data-href="https://arida-studio.vercel.app/"><img src="../assets/images/enlace-e61ae5bf.png" alt=""></span>
            <img class="u-hover-feature u-image u-image-contain u-image-default u-preserve-proportions u-image-4" src="../assets/images/Github_icon-icons.com_66788.png" alt="" data-image-width="150" data-image-height="150" data-href="https://github.com/JuanBetancur05/AridaStudio">
            <p class="u-text u-text-default-lg u-text-default-md u-text-default-sm u-text-default-xl u-text-14">Marzo 01 , 2025 </p>
          </div>
        </div>
        <div class="u-container-style u-custom-color-15 u-expanded-width-xs u-group u-radius u-group-10">
          <div class="u-container-layout u-container-layout-10">
            <img class="u-hover-feature u-image u-image-round u-radius u-image-5" src="../assets/images/ecom.png" alt="" data-image-width="724" data-image-height="626" data-href="https://github.com/JuanBetancur05">
            <p class="u-text u-text-custom-color-19 u-text-default u-text-15">Ecommerce<br>
            </p>
            <div class="custom-expanded u-align-center u-container-align-center u-container-align-center-lg u-container-align-center-md u-container-align-center-sm u-container-align-center-xl u-container-align-center-xxl u-container-style u-custom-color-16 u-group u-radius u-group-11">
              <div class="u-container-layout u-container-layout-11"><span class="u-file-icon u-icon u-icon-10"><img src="../assets/images/icons8-html-48.png" alt=""></span>
                <p class="u-custom-font u-text u-text-custom-color-22 u-text-16">Html<br>
                </p>
              </div>
            </div>
            <div class="custom-expanded u-align-center u-container-align-center u-container-align-center-lg u-container-align-center-md u-container-align-center-sm u-container-align-center-xl u-container-align-center-xxl u-container-style u-custom-color-16 u-group u-radius u-group-12">
              <div class="u-container-layout u-container-layout-12"><span class="u-file-icon u-icon u-icon-11"><img src="../assets/images/icons8-css-48.png" alt=""></span>
                <p class="u-custom-font u-text u-text-custom-color-22 u-text-17">Css<br>
                </p>
              </div>
            </div>
            <div class="custom-expanded u-align-center u-container-align-center u-container-align-center-lg u-container-align-center-md u-container-align-center-xl u-container-align-center-xxl u-container-style u-custom-color-16 u-group u-radius u-group-13">
              <div class="u-container-layout u-container-layout-13"><span class="u-file-icon u-icon u-icon-12"><img src="../assets/images/icons8-js-48.png" alt=""></span>
                <p class="u-custom-font u-text u-text-custom-color-22 u-text-18">Javascript<br>
                </p>
              </div>
            </div>
            <div class="custom-expanded u-align-center u-container-align-center u-container-align-center-lg u-container-align-center-xl u-container-align-center-xxl u-container-style u-custom-color-16 u-group u-radius u-group-14">
              <div class="u-container-layout u-container-layout-14"><span class="u-file-icon u-icon u-icon-13"><img src="../assets/images/icons8-raya-48.png" alt=""></span>
                <p class="u-custom-font u-text u-text-custom-color-22 u-text-19">Stripe<br>
                </p>
              </div>
            </div>
            <p class="u-text u-text-20">Ecommerce desarrollado en nodejs y stripe manejando payment links y usando el dashboard de stripe</p><span class="u-file-icon u-hover-feature u-icon u-text-custom-color-19 u-icon-14" data-href="https://github.com/JuanBetancur05"><img src="../assets/images/enlace-e61ae5bf.png" alt=""></span>
            <img class="u-hover-feature u-image u-image-contain u-image-default u-preserve-proportions u-image-6" src="../assets/images/Github_icon-icons.com_66788.png" alt="" data-image-width="150" data-image-height="150" data-href="https://github.com/JuanBetancur05">
            <p class="u-text u-text-default-lg u-text-default-md u-text-default-sm u-text-default-xl u-text-21">Junio 12 , 2025 </p>
          </div>
        </div>
        <div class="u-container-style u-custom-color-15 u-expanded-width-sm u-expanded-width-xs u-group u-radius u-group-15">
          <div class="u-container-layout u-container-layout-15">
            <p class="u-text u-text-custom-color-19 u-text-default u-text-22">Agenda<br>
            </p>
            <img class="u-expanded-width-xs u-hover-feature u-image u-image-round u-radius u-image-7" src="../assets/images/Capturadepantalla2025-07-11165448.png" alt="" data-image-width="614" data-image-height="384" data-href="https://agenda-jb.vercel.app/">
            <div class="custom-expanded u-align-center-xl u-container-align-center-xl u-container-align-center-xxl u-container-style u-custom-color-16 u-group u-radius u-group-16">
              <div class="u-container-layout u-container-layout-16"><span class="u-file-icon u-icon u-icon-15"><img src="../assets/images/icons8-html-48.png" alt=""></span>
                <p class="u-custom-font u-text u-text-custom-color-22 u-text-23">Html<br>
                </p>
              </div>
            </div>
            <div class="custom-expanded u-align-center-xl u-container-align-center-lg u-container-align-center-xl u-container-style u-custom-color-16 u-group u-radius u-group-17">
              <div class="u-container-layout u-container-layout-17"><span class="u-file-icon u-icon u-icon-16"><img src="../assets/images/icons8-css-48.png" alt=""></span>
                <p class="u-custom-font u-text u-text-custom-color-22 u-text-24">Css<br>
                </p>
              </div>
            </div>
            <div class="custom-expanded u-align-center-xl u-container-align-center-lg u-container-align-center-xl u-container-align-center-xxl u-container-style u-custom-color-16 u-group u-radius u-group-18">
              <div class="u-container-layout u-container-layout-18"><span class="u-file-icon u-icon u-icon-17"><img src="../assets/images/655b60964be1a1b36c746d41_646dfce3b9c4849f6e401bff_supabase-logo-icon_1.png" alt=""></span>
                <p class="u-custom-font u-text u-text-custom-color-22 u-text-25">Supabase<br>
                </p>
              </div>
            </div>
            <div class="custom-expanded u-align-center-xl u-container-align-center-lg u-container-align-center-xl u-container-align-center-xxl u-container-style u-custom-color-16 u-group u-radius u-group-19">
              <div class="u-container-layout u-container-layout-19"><span class="u-file-icon u-icon u-icon-18"><img src="../assets/images/icons8-js-48.png" alt=""></span>
                <p class="u-custom-font u-text u-text-custom-color-22 u-text-26">Javascript<br>
                </p>
              </div>
            </div>
            <p class="u-text u-text-27"> Agenda web que permite a los usuarios registrados gestionar sus eventos a través de un calendario dinámico. Se apoya en tecnologías como Supabase para autenticación</p><span class="u-file-icon u-hover-feature u-icon u-text-custom-color-19 u-icon-19" data-href="https://agenda-jb.vercel.app/"><img src="../assets/images/enlace-e61ae5bf.png" alt=""></span>
            <p class="u-text u-text-default u-text-28">Julio 11, 2025</p>
          </div>
        </div>
        <p class="u-custom-font u-text u-text-custom-color-19 u-text-default u-text-default-xxl u-text-29">Certficados </p>
        <div class="u-container-style u-custom-color-15 u-expanded-width-xs u-group u-radius u-group-20">
          <div class="u-container-layout u-container-layout-20">
            <p class="u-text u-text-custom-color-19 u-text-default u-text-30"> Tecnología</p>
            <img class="u-file-link u-hover-feature u-image u-image-round u-radius u-image-8" src="../assets/images/WhatsAppImage2025-06-03at08.48.31.jpeg" alt="" data-image-width="1051" data-image-height="1600" data-href="files/Certficado_Tecnico.pdf">
            <div class="custom-expanded u-container-align-center-xxl u-container-style u-custom-color-16 u-group u-radius u-group-21">
              <div class="u-container-layout u-container-layout-21"><span class="u-file-icon u-icon u-icon-20"><img src="../assets/images/icons8-laravel-48.png" alt=""></span>
                <p class="u-custom-font u-text u-text-custom-color-22 u-text-31">Laravel<br>
                </p>
              </div>
            </div>
            <div class="custom-expanded u-container-align-center-lg u-container-align-center-md u-container-align-center-sm u-container-align-center-xl u-container-align-center-xxl u-container-style u-custom-color-16 u-group u-radius u-group-22">
              <div class="u-container-layout u-container-layout-22"><span class="u-file-icon u-icon u-icon-21"><img src="../assets/images/icons8-aleteo-48.png" alt=""></span>
                <p class="u-custom-font u-text u-text-custom-color-22 u-text-32">Flutter<br>
                </p>
              </div>
            </div>
            <div class="custom-expanded u-container-align-center-xxl u-container-style u-custom-color-16 u-group u-radius u-group-23">
              <div class="u-container-layout u-container-layout-23"><span class="u-file-icon u-icon u-icon-22"><img src="../assets/images/icons8-mongodb-48.png" alt=""></span>
                <p class="u-custom-font u-text u-text-custom-color-22 u-text-33">MongoDb<br>
                </p>
              </div>
            </div>
            <div class="custom-expanded u-container-align-center-lg u-container-align-center-md u-container-align-center-sm u-container-align-center-xl u-container-align-center-xxl u-container-style u-custom-color-16 u-group u-radius u-group-24">
              <div class="u-container-layout u-container-layout-24"><span class="u-file-icon u-icon u-icon-23"><img src="../assets/images/icons8-nodo-js-48.png" alt=""></span>
                <p class="u-custom-font u-text u-text-custom-color-22 u-text-34">NodeJS </p>
              </div>
            </div>
            <p class="u-text u-text-35"> El desarrollo culminó con la creación de un aplicativo robusto, lo que me permitió aplicar los conocimientos adquiridos.</p><span class="u-file-icon u-file-link u-hover-feature u-icon u-text-custom-color-19 u-icon-24" data-href="files/Certficado_Tecnico.pdf"><img src="../assets/images/enlace-e61ae5bf.png" alt=""></span>
            <p class="u-text u-text-default u-text-36">Abr 2023, Dic 2024 </p>
          </div>
        </div>
        <div class="u-container-style u-custom-color-15 u-expanded-width-xs u-group u-radius u-group-25">
          <div class="u-container-layout u-valign-top-lg u-valign-top-md u-container-layout-25">
            <p class="u-text u-text-custom-color-19 u-text-default u-text-37"> Técnica</p>
            <img class="u-file-link u-hover-feature u-image u-image-round u-radius u-image-9" src="../assets/images/WhatsAppImage2025-06-03at08.48.31.jpeg" alt="" data-image-width="1051" data-image-height="1600" data-href="files/Certficado_Tecnico.pdf">
            <div class="custom-expanded u-align-center-lg u-align-center-xl u-container-align-center-lg u-container-align-center-md u-container-align-center-sm u-container-align-center-xl u-container-align-center-xxl u-container-style u-custom-color-16 u-group u-radius u-group-26">
              <div class="u-container-layout u-container-layout-26"><span class="u-file-icon u-icon u-icon-25"><img src="../assets/images/icons8-html-48.png" alt=""></span>
                <p class="u-custom-font u-text u-text-custom-color-22 u-text-38">Html<br>
                </p>
              </div>
            </div>
            <div class="custom-expanded u-align-center-lg u-align-center-xl u-container-align-center-lg u-container-align-center-md u-container-align-center-sm u-container-align-center-xl u-container-align-center-xxl u-container-style u-custom-color-16 u-group u-radius u-group-27">
              <div class="u-container-layout u-container-layout-27"><span class="u-file-icon u-icon u-icon-26"><img src="../assets/images/icons8-mysql-48.png" alt=""></span>
                <p class="u-custom-font u-text u-text-custom-color-22 u-text-39">MySql </p>
              </div>
            </div>
            <div class="custom-expanded u-align-center-lg u-align-center-xl u-container-align-center u-container-align-center-lg u-container-align-center-md u-container-align-center-xl u-container-align-center-xxl u-container-style u-custom-color-16 u-group u-radius u-group-28">
              <div class="u-container-layout u-container-layout-28"><span class="u-file-icon u-icon u-icon-27"><img src="../assets/images/icons8-python-48.png" alt=""></span>
                <p class="u-custom-font u-text u-text-custom-color-22 u-text-40">python<br>
                </p>
              </div>
            </div>
            <div class="custom-expanded u-align-center-lg u-align-center-xl u-container-align-center-lg u-container-align-center-xl u-container-align-center-xxl u-container-style u-custom-color-16 u-group u-radius u-group-29">
              <div class="u-container-layout u-container-layout-29"><span class="u-file-icon u-icon u-icon-28"><img src="../assets/images/icons8-php-logo-40.png" alt=""></span>
                <p class="u-custom-font u-text u-text-custom-color-22 u-text-41">PhP </p>
              </div>
            </div>
            <p class="u-text u-text-42"> Primeras interacciones con el desarrollo, la solución de problemas reales y la creación de soluciones.</p><span class="u-file-icon u-file-link u-hover-feature u-icon u-text-custom-color-19 u-icon-29" data-href="files/Certficado_Tecnico.pdf"><img src="../assets/images/enlace-e61ae5bf.png" alt=""></span>
            <p class="u-text u-text-default u-text-43">Ene 2021, Dic 2022 </p>
          </div>
        </div>
        <div class="u-container-style u-custom-color-15 u-expanded-width-xs u-group u-radius u-group-30">
          <div class="u-container-layout u-valign-top-md u-valign-top-xl u-container-layout-30">
            <p class="u-text u-text-custom-color-19 u-text-default u-text-44"> Bachillerato</p>
            <div class="custom-expanded u-align-center-lg u-align-center-xl u-container-align-center-lg u-container-align-center-md u-container-align-center-sm u-container-align-center-xl u-container-align-center-xxl u-container-style u-custom-color-16 u-group u-radius u-group-31">
              <div class="u-container-layout u-container-layout-31">
                <p class="u-custom-font u-text u-text-custom-color-22 u-text-45">Inglés<br>
                </p><span class="u-file-icon u-icon u-icon-30"><img src="../assets/images/icons8-idiomas-48.png" alt=""></span>
              </div>
            </div>
            <div class="custom-expanded u-align-center-lg u-align-center-xl u-container-align-center-lg u-container-align-center-md u-container-align-center-sm u-container-align-center-xl u-container-align-center-xxl u-container-style u-custom-color-16 u-group u-radius u-group-32">
              <div class="u-container-layout u-container-layout-32"><span class="u-file-icon u-icon u-text-white u-icon-31"><img src="../assets/images/icons8-calculadora-67-0af08041.png" alt=""></span>
                <p class="u-custom-font u-text u-text-custom-color-22 u-text-46">Matemáticas<br>
                </p>
              </div>
            </div>
            <img class="u-file-link u-hover-feature u-image u-image-round u-radius u-image-10" src="../assets/images/WhatsAppImage2025-06-03at08.24.241.jpeg" alt="" data-image-width="1017" data-image-height="1600" data-href="files/Actadegrado.pdf">
            <div class="custom-expanded u-align-center-lg u-align-center-xl u-container-align-center-lg u-container-align-center-md u-container-align-center-xl u-container-align-center-xxl u-container-style u-custom-color-16 u-group u-radius u-group-33">
              <div class="u-container-layout u-container-layout-33"><span class="u-file-icon u-icon u-text-white u-icon-32"><img src="../assets/images/icons8-habilidades-50-1438dc7f.png" alt=""></span>
                <p class="u-custom-font u-text u-text-custom-color-22 u-text-47">Pensamiento c​rítico</p>
              </div>
            </div>
            <p class="u-text u-text-48"> la recepción de información que obtuve&nbsp; se centró en el aprendizaje del inglés y los fundamentos matemáticos.</p><span class="u-file-icon u-file-link u-hover-feature u-icon u-text-custom-color-19 u-icon-33" data-href="files/Actadegrado.pdf"><img src="../assets/images/enlace-e61ae5bf.png" alt=""></span>
            <p class="u-text u-text-default-lg u-text-default-md u-text-default-sm u-text-default-xl u-text-49">Ene 2016 , Dic 2022</p>
          </div>
        </div>
      </div>
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
    </section>
    
    
    
    <footer class="u-clearfix u-custom-color-15 u-footer" id="footer"><div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="u-align-left u-social-icons u-social-icons-1">
          <a class="u-social-url" title="linkedin" target="_blank" href="https://co.linkedin.com/in/juan-esteban-betancur-hoyos-7094162b6"><span class="u-icon u-social-icon u-social-linkedin u-icon-1"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 112 112" style=""><use xlink:href="#svg-9e94"></use></svg><svg class="u-svg-content" viewBox="0 0 112 112" x="0" y="0" id="svg-9e94"><circle fill="currentColor" cx="56.1" cy="56.1" r="55"></circle><path fill="#FFFFFF" d="M41.3,83.7H27.9V43.4h13.4V83.7z M34.6,37.9L34.6,37.9c-4.6,0-7.5-3.1-7.5-7c0-4,3-7,7.6-7s7.4,3,7.5,7
      C42.2,34.8,39.2,37.9,34.6,37.9z M89.6,83.7H76.2V62.2c0-5.4-1.9-9.1-6.8-9.1c-3.7,0-5.9,2.5-6.9,4.9c-0.4,0.9-0.4,2.1-0.4,3.3v22.5
      H48.7c0,0,0.2-36.5,0-40.3h13.4v5.7c1.8-2.7,5-6.7,12.1-6.7c8.8,0,15.4,5.8,15.4,18.1V83.7z"></path></svg></span>
          </a>
          <a class="u-social-url" target="_blank" data-type="Email" title="Email" href="mailto:Juanesbetancur09@gmail.com?subject=Contacto"><span class="u-icon u-social-email u-social-icon u-icon-2"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 112 112" style=""><use xlink:href="#svg-8617"></use></svg><svg class="u-svg-content" viewBox="0 0 112 112" x="0" y="0" id="svg-8617"><circle fill="currentColor" cx="56.1" cy="56.1" r="55"></circle><path id="path3864" fill="#FFFFFF" d="M27.2,28h57.6c4,0,7.2,3.2,7.2,7.2l0,0v42.7c0,3.9-3.2,7.2-7.2,7.2l0,0H27.2
	c-4,0-7.2-3.2-7.2-7.2V35.2C20,31.1,23.2,28,27.2,28 M56,52.9l28.8-17.8H27.2L56,52.9 M27.2,77.7h57.6V43.5L56,61.3L27.2,43.5V77.7z
	"></path></svg></span>
          </a>
          <a class="u-social-url" target="_blank" data-type="Whatsapp" title="Whatsapp" href="https://wa.me/573503911115?text=Hola%20quiero%20más%20información"><span class="u-icon u-social-icon u-social-whatsapp u-icon-3"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 112 112" style=""><use xlink:href="#svg-327a"></use></svg><svg class="u-svg-content" viewBox="0 0 112 112" x="0" y="0" id="svg-327a"><circle fill="currentColor" cx="56.1" cy="56.1" r="55"></circle><path fill="#FFFFFF" d="M83.8,28.3C77.2,21.7,68.4,18,59,18c-19.3,0-35.1,15.7-35.1,35.1c0,6.2,1.6,12.2,4.7,17.5l-5,18.2L42.2,84
	c5.1,2.8,10.9,4.3,16.8,4.3h0l0,0c19.3,0,35.1-15.7,35.1-35.1C94.1,43.8,90.5,35,83.8,28.3 M59,82.3L59,82.3
	c-5.2,0-10.4-1.4-14.9-4.1l-1.1-0.6l-11,2.9L35,69.8l-0.7-1.1c-2.9-4.6-4.5-10-4.5-15.5C29.8,37,42.9,24,59,24
	c7.8,0,15.1,3,20.6,8.6c5.5,5.5,8.5,12.8,8.5,20.6C88.2,69.2,75.1,82.3,59,82.3 M75,60.5c-0.9-0.4-5.2-2.6-6-2.9
	c-0.8-0.3-1.4-0.4-2,0.4s-2.3,2.9-2.8,3.4c-0.5,0.6-1,0.7-1.9,0.2c-0.9-0.4-3.7-1.4-7.1-4.4c-2.6-2.3-4.4-5.2-4.9-6.1
	c-0.5-0.9-0.1-1.4,0.4-1.8c0.4-0.4,0.9-1,1.3-1.5c0.4-0.5,0.6-0.9,0.9-1.5c0.3-0.6,0.1-1.1-0.1-1.5c-0.2-0.4-2-4.8-2.7-6.5
	c-0.7-1.7-1.4-1.5-2-1.5c-0.5,0-1.1,0-1.7,0c-0.6,0-1.5,0.2-2.3,1.1c-0.8,0.9-3.1,3-3.1,7.3c0,4.3,3.1,8.5,3.6,9.1
	c0.4,0.6,6.2,9.4,15,13.2c2.1,0.9,3.7,1.4,5,1.8c2.1,0.7,4,0.6,5.5,0.3c1.7-0.3,5.2-2.1,5.9-4.2c0.7-2,0.7-3.8,0.5-4.2
	C76.5,61.1,75.9,60.9,75,60.5"></path></svg></span>
          </a>
          <a class="u-social-url" target="_blank" data-type="Github" title="Github" href="https://github.com/JuanBetancur05"><span class="u-icon u-social-github u-social-icon u-icon-4"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 112 112" style=""><use xlink:href="#svg-3393"></use></svg><svg class="u-svg-content" viewBox="0 0 112 112" x="0" y="0" id="svg-3393"><circle fill="currentColor" cx="56.1" cy="56.1" r="55"></circle><path fill="#FFFFFF" d="M88,51.3c0-5.5-1.9-10.2-5.3-13.7c0.6-1.3,2.3-6.5-0.5-13.5c0,0-4.2-1.4-14,5.3c-4.1-1.1-8.4-1.7-12.7-1.8
	c-4.3,0-8.7,0.6-12.7,1.8c-9.7-6.6-14-5.3-14-5.3c-2.8,7-1,12.2-0.5,13.5C25,41.2,23,45.7,23,51.3c0,19.6,11.9,23.9,23.3,25.2
	c-1.5,1.3-2.8,3.5-3.2,6.8c-3,1.3-10.2,3.6-14.9-4.3c0,0-2.7-4.9-7.8-5.3c0,0-5-0.1-0.4,3.1c0,0,3.3,1.6,5.6,7.5c0,0,3,9.1,17.2,6
	c0,4.3,0.1,8.3,0.1,9.5h25.2c0-1.7,0.1-7.2,0.1-14c0-4.7-1.7-7.9-3.4-9.4C76,75.2,88,70.9,88,51.3z"></path></svg></span>
          </a>
        </div>
      </div></footer>

  
</body></html>