@media (max-width: 0px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1761px;
  }
  .u-section-1 .u-group-1 {
    height: auto;
    width: 175px;
    background-image: none;
    --radius: 20px;
    min-height: 106px;
    box-shadow: 0px 0px 3px 0px rgba(128,128,128,1);
    margin-top: 64px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 527px;
  }
  .u-section-1 .u-container-layout-1 {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 5px;
    padding-right: 5px;
  }
  .u-section-1 .u-text-1 {
    font-family: Manrope;
    font-weight: 700;
    background-image: none;
    font-size: 3rem;
    text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
    margin-top: 3px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
  }
  .u-section-1 .u-group-2 {
    height: auto;
    width: 160px;
    background-image: none;
    --radius: 20px;
    min-height: 30px;
    margin-top: -1px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
  }
  .u-section-1 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
  }
  .u-section-1 .u-text-2 {
    font-family: Manrope;
    font-size: 0.875rem;
    margin-top: 4px;
    margin-right: 35px;
    margin-bottom: 0;
    margin-left: 56px;
  }
  .u-section-1 .u-icon-1 {
    width: 23px;
    height: 23px;
    margin-top: -23px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 27px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
  }
  .u-section-1 .u-group-3 {
    width: 273px;
    --radius: 10px;
    height: auto;
    min-height: 252px;
    box-shadow: 0px 0px 2px 0px rgba(128,128,128,1);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-image: linear-gradient(to bottom, rgba(20, 20, 20, 1), rgba(20, 20, 20, 1));
    background-size: cover;
    margin-top: -107px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 226px;
  }
  .u-section-1 .u-container-layout-3 {
    padding-top: 10px;
    padding-left: 11px;
    padding-right: 11px;
    padding-bottom: 0;
  }
  .u-section-1 .u-text-3 {
    font-family: Manrope;
    font-weight: 700;
    text-shadow: 0px -2px 8px rgba(128,128,128,1);
    margin-top: 17px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
  }
  .u-section-1 .u-line-1 {
    width: 201px;
    height: 0;
    margin-top: 20px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 30px;
  }
  .u-section-1 .u-image-1 {
    width: 48px;
    height: 48px;
    transition-duration: 0.5s;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
    margin-top: 11px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 173px;
  }
  .u-section-1 .u-image-2 {
    width: 48px;
    height: 48px;
    transition-duration: 0.5s;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
    margin-top: -48px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 30px;
  }
  .u-section-1 .u-image-3 {
    width: 48px;
    height: 48px;
    transition-duration: 0.5s;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
    margin-top: -48px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
  }
  .u-section-1 .u-image-4 {
    width: 48px;
    height: 48px;
    transition-duration: 0.5s;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
    margin-top: 17px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 30px;
  }
  .u-section-1 .u-group-4 {
    width: 564px;
    --radius: 10px;
    height: auto;
    min-height: 398px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-image: linear-gradient(to bottom, rgba(var(--custom-color-25-r), var(--custom-color-25-g), var(--custom-color-25-b), 1), rgba(var(--custom-color-25-r), var(--custom-color-25-g), var(--custom-color-25-b), 1));
    background-size: cover;
    box-shadow: 0px 0px 3px 0px rgba(128,128,128,1);
    margin-top: -132px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 527px;
  }
  .u-section-1 .u-container-layout-4 {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-section-1 .u-image-5 {
    --radius: 20px;
    width: 135px;
    height: 135px;
    margin-top: 39px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 25px;
  }
  .u-section-1 .u-icon-2 {
    width: 38px;
    height: 38px;
    transition-duration: 0.5s;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
    margin-top: -126px;
    margin-right: 17px;
    margin-bottom: 0;
    margin-left: auto;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-section-1 .u-group-5 {
    width: 202px;
    --radius: 10px;
    height: auto;
    min-height: 38px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-image: linear-gradient(to bottom, rgba(20, 20, 20, 1), rgba(20, 20, 20, 1));
    background-size: cover;
    transition-duration: 0.5s;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
    margin-top: -38px;
    margin-right: 174px;
    margin-bottom: 0;
    margin-left: auto;
  }
  .u-section-1 .u-container-layout-5 {
    padding-left: 2px;
    padding-right: 2px;
  }
  .u-section-1 .u-text-4 {
    font-family: Manrope;
    font-size: 0.875rem;
    margin-top: 8px;
    margin-right: 20px;
    margin-bottom: 0;
    margin-left: auto;
  }
  .u-section-1 .u-shape-1 {
    width: 9px;
    height: 9px;
    background-image: none;
    margin-top: -16px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 8px;
  }
  .u-section-1 .u-text-5 {
    font-size: 1.375rem;
    font-family: Manrope;
    font-weight: 700;
    margin-top: 10px;
    margin-right: 221px;
    margin-bottom: 0;
    margin-left: 188px;
  }
  .u-section-1 .u-text-6 {
    font-family: Manrope;
    font-size: 0.9375rem;
    margin-top: 10px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 186px;
  }
  .u-section-1 .u-group-6 {
    --radius: 10px;
    height: auto;
    width: 524px;
    min-height: 107px;
    margin-top: 27px;
    margin-right: 14px;
    margin-bottom: 0;
    margin-left: auto;
  }
  .u-section-1 .u-container-layout-6 {
    padding-left: 3px;
    padding-right: 3px;
  }
  .u-section-1 .u-group-7 {
    height: auto;
    width: 220px;
    background-image: none;
    --radius: 20px;
    min-height: 33px;
    margin-top: 13px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 9px;
  }
  .u-section-1 .u-container-layout-7 {
    padding-left: 0;
    padding-right: 0;
  }
  .u-section-1 .u-text-7 {
    font-family: Manrope;
    font-size: 0.875rem;
    margin-top: 5px;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 0;
  }
  .u-section-1 .u-icon-3 {
    width: 27px;
    height: 27px;
    margin-top: -25px;
    margin-right: 16px;
    margin-bottom: 0;
    margin-left: auto;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
  }
  .u-section-1 .u-group-8 {
    height: auto;
    width: 175px;
    background-image: none;
    --radius: 20px;
    min-height: 32px;
    margin-top: -33px;
    margin-right: 87px;
    margin-bottom: 0;
    margin-left: auto;
  }
  .u-section-1 .u-container-layout-8 {
    padding-bottom: 0;
  }
  .u-section-1 .u-text-8 {
    font-family: Manrope;
    font-size: 0.875rem;
    margin-top: 5px;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 0;
  }
  .u-section-1 .u-icon-4 {
    width: 27px;
    height: 27px;
    margin-top: -22px;
    margin-right: 9px;
    margin-bottom: 0;
    margin-left: auto;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 3px;
    padding-right: 3px;
  }
  .u-section-1 .u-group-9 {
    height: auto;
    width: 187px;
    background-image: none;
    --radius: 20px;
    min-height: 32px;
    margin-top: 16px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 9px;
  }
  .u-section-1 .u-container-layout-9 {
    padding-left: 0;
    padding-right: 0;
  }
  .u-section-1 .u-text-9 {
    font-family: Manrope;
    font-size: 0.875rem;
    margin-top: 5px;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 0;
  }
  .u-section-1 .u-icon-5 {
    width: 18px;
    height: 18px;
    margin-top: -20px;
    margin-right: 16px;
    margin-bottom: 0;
    margin-left: auto;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
  }
  .u-section-1 .u-group-10 {
    height: auto;
    width: 136px;
    background-image: none;
    --radius: 20px;
    min-height: 32px;
    margin-top: -33px;
    margin-right: 171px;
    margin-bottom: 0;
    margin-left: auto;
  }
  .u-section-1 .u-container-layout-10 {
    padding-left: 0;
    padding-right: 0;
  }
  .u-section-1 .u-text-10 {
    font-family: Manrope;
    font-size: 0.875rem;
    width: 77px;
    margin-top: 4px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
  }
  .u-section-1 .u-icon-6 {
    width: 18px;
    height: 18px;
    color: rgb(255, 255, 255) !important;
    margin-top: -20px;
    margin-right: 17px;
    margin-bottom: 0;
    margin-left: auto;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
  }
  .u-section-1 .u-group-11 {
    height: auto;
    width: 136px;
    background-image: none;
    --radius: 20px;
    min-height: 32px;
    margin-top: -31px;
    margin-right: 18px;
    margin-bottom: 0;
    margin-left: auto;
  }
  .u-section-1 .u-container-layout-11 {
    padding-left: 0;
    padding-right: 0;
  }
  .u-section-1 .u-text-11 {
    font-family: Manrope;
    font-size: 0.875rem;
    margin-top: 5px;
    margin-right: 21px;
    margin-bottom: 0;
    margin-left: 11px;
  }
  .u-section-1 .u-icon-7 {
    width: 18px;
    height: 18px;
    color: rgb(255, 255, 255) !important;
    margin-top: -20px;
    margin-right: 14px;
    margin-bottom: 0;
    margin-left: auto;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
  }
  .u-section-1 .u-btn-1 {
    --radius: 4px;
    background-image: linear-gradient(to right, #141414, #212121);
    font-weight: 700;
    font-size: 0.9375rem;
    margin-top: 32px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 37px;
    padding-top: 6px;
    padding-right: 89px;
    padding-bottom: 6px;
    padding-left: 87px;
  }
  .u-section-1 .u-btn-2 {
    --radius: 4px;
    background-image: linear-gradient(to right, #212121, #141414);
    font-weight: 700;
    font-size: 0.9375rem;
    margin-top: -33px;
    margin-right: 47px;
    margin-bottom: 0;
    margin-left: auto;
    padding-top: 6px;
    padding-right: 72px;
    padding-bottom: 6px;
    padding-left: 70px;
  }
  .u-section-1 .u-icon-8 {
    width: 22px;
    height: 51px;
    color: rgb(162, 145, 253) !important;
    margin-top: -28px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 90px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-section-1 .u-icon-9 {
    width: 22px;
    height: 51px;
    color: rgb(162, 145, 253) !important;
    margin-top: -53px;
    margin-right: 203px;
    margin-bottom: 0;
    margin-left: auto;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-section-1 .u-group-12 {
    width: 272px;
    --radius: 10px;
    height: auto;
    min-height: 251px;
    box-shadow: 0px 0px 2px 0px rgba(128,128,128,1);
    margin-top: -247px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 223px;
  }
  .u-section-1 .u-container-layout-12 {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-section-1 .u-text-12 {
    font-weight: 700;
    text-shadow: 0px -2px 8px rgba(128,128,128,1);
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
  }
  .u-section-1 .u-line-2 {
    width: 218px;
    margin-top: 5px;
    margin-right: 22px;
    margin-bottom: 0;
    margin-left: auto;
  }
  .u-section-1 .u-image-6 {
    width: 48px;
    height: 48px;
    transition-duration: 0.5s;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
    margin-top: 18px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 184px;
  }
  .u-section-1 .u-image-7 {
    width: 48px;
    height: 48px;
    transition-duration: 0.5s;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
    margin-top: -48px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 40px;
  }
  .u-section-1 .u-image-8 {
    width: 48px;
    height: 48px;
    transition-duration: 0.5s;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
    margin-top: -48px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 110px;
  }
  .u-section-1 .u-image-9 {
    width: 48px;
    height: 48px;
    transition-duration: 0.5s;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
    margin-top: 20px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 40px;
  }
  .u-section-1 .u-image-10 {
    width: 48px;
    height: 48px;
    transition-duration: 0.5s;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
    margin-top: -52px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 116px;
  }
  .u-section-1 .u-image-11 {
    width: 48px;
    height: 48px;
    transition-duration: 0.5s;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
    margin-top: -47px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 184px;
  }
  .u-section-1 .u-group-13 {
    height: auto;
    width: 175px;
    background-image: none;
    --radius: 20px;
    min-height: 106px;
    box-shadow: 0px 0px 3px 0px rgba(128,128,128,1);
    margin-top: -521px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 923px;
  }
  .u-section-1 .u-container-layout-13 {
    padding-bottom: 0;
  }
  .u-section-1 .u-text-13 {
    font-family: Manrope;
    font-weight: 700;
    background-image: none;
    font-size: 3rem;
    text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
    margin-top: 6px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
  }
  .u-section-1 .u-group-14 {
    height: auto;
    width: 160px;
    background-image: none;
    --radius: 20px;
    min-height: 31px;
    margin-top: -2px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
  }
  .u-section-1 .u-container-layout-14 {
    padding-left: 0;
    padding-right: 0;
  }
  .u-section-1 .u-icon-10 {
    width: 23px;
    height: 23px;
    margin-top: 2px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 13px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 3px;
    padding-right: 3px;
  }
  .u-section-1 .u-text-14 {
    font-family: Manrope;
    font-size: 0.875rem;
    margin-top: -22px;
    margin-right: 36px;
    margin-bottom: 0;
    margin-left: 44px;
  }
  .u-section-1 .u-group-15 {
    height: auto;
    width: 175px;
    background-image: none;
    --radius: 20px;
    min-height: 105px;
    box-shadow: 0px 0px 3px 0px rgba(128,128,128,1);
    margin-top: -105px;
    margin-right: 420px;
    margin-bottom: 0;
    margin-left: auto;
  }
  .u-section-1 .u-container-layout-15 {
    padding-top: 4px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 4px;
  }
  .u-section-1 .u-text-15 {
    font-family: Manrope;
    font-weight: 700;
    background-image: none;
    font-size: 3rem;
    text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
  }
  .u-section-1 .u-group-16 {
    height: auto;
    width: 160px;
    background-image: none;
    --radius: 20px;
    min-height: 30px;
    margin-top: 2px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
  }
  .u-section-1 .u-container-layout-16 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
  }
  .u-section-1 .u-icon-11 {
    width: 23px;
    height: 23px;
    color: rgb(162, 145, 253) !important;
    margin-top: 2px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 13px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 3px;
    padding-right: 3px;
  }
  .u-section-1 .u-text-16 {
    font-family: Manrope;
    font-size: 0.875rem;
    margin-top: -22px;
    margin-right: 14px;
    margin-bottom: 0;
    margin-left: 44px;
  }
  .u-section-1 .u-group-17 {
    width: 272px;
    height: auto;
    min-height: 268px;
    --radius: 20px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-image: linear-gradient(to bottom, rgba(20, 20, 20, 1), rgba(20, 20, 20, 1));
    background-size: cover;
    transition-duration: 0.5s;
    box-shadow: 0px 0px 2px 0px rgba(128,128,128,1);
    margin-top: 443px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 222px;
  }
  .u-section-1 .u-container-layout-17 {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .u-section-1 .u-text-17 {
    font-family: Manrope;
    font-weight: 700;
    width: 120px;
    text-shadow: 0px -2px 8px rgba(128,128,128,1);
    margin-top: 9px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
  }
  .u-section-1 .u-line-3 {
    width: 170px;
    margin-top: 8px;
    margin-right: 16px;
    margin-bottom: 0;
    margin-left: auto;
  }
  .u-section-1 .u-image-12 {
    width: 48px;
    height: 48px;
    transition-duration: 0.5s;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
    margin-top: 12px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 158px;
  }
  .u-section-1 .u-image-13 {
    width: 48px;
    height: 48px;
    transition-duration: 0.5s;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
    margin-top: -51px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 84px;
  }
  .u-section-1 .u-image-14 {
    width: 48px;
    height: 48px;
    transition-duration: 0.5s;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
    margin-top: -45px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 6px;
  }
  .u-section-1 .u-image-15 {
    width: 48px;
    height: 48px;
    transition-duration: 0.5s;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
    margin-top: 26px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 158px;
  }
  .u-section-1 .u-image-16 {
    width: 48px;
    height: 48px;
    transition-duration: 0.5s;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
    margin-top: -53px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 84px;
  }
  .u-section-1 .u-image-17 {
    width: 48px;
    height: 48px;
    transition-duration: 0.5s;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
    margin-top: -49px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 6px;
  }
  .u-section-1 .u-group-18 {
    height: auto;
    width: 168px;
    background-image: none;
    --radius: 20px;
    min-height: 268px;
    box-shadow: 0px 0px 2px 0px rgba(128,128,128,1);
    margin-top: -268px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 525px;
  }
  .u-section-1 .u-container-layout-18 {
    padding-top: 20px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 21px;
  }
  .u-section-1 .u-text-18 {
    font-family: Manrope;
    font-weight: 700;
    font-size: 1.125rem;
    text-shadow: 0px -2px 8px rgba(128,128,128,1);
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
  }
  .u-section-1 .u-line-4 {
    width: 134px;
    height: 0;
    margin-top: 12px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
  }
  .u-section-1 .u-image-18 {
    width: 48px;
    height: 48px;
    transition-duration: 0.5s;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
    margin-top: 12px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
  }
  .u-section-1 .u-image-19 {
    width: 48px;
    height: 48px;
    transition-duration: 0.5s;
    margin-top: 9px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
  }
  .u-section-1 .u-group-19 {
    height: auto;
    width: 362px;
    background-image: none;
    --radius: 20px;
    min-height: 266px;
    box-shadow: 0px 0px 2px 0px rgba(128,128,128,1);
    margin-top: -266px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 725px;
  }
  .u-section-1 .u-container-layout-19 {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-section-1 .u-text-19 {
    font-weight: 700;
    font-family: Manrope;
    text-shadow: 0px -2px 8px rgba(128,128,128,1);
    margin-top: 23px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
  }
  .u-section-1 .u-line-5 {
    width: 290px;
    height: 0;
    margin-top: 7px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 14px;
  }
  .u-section-1 .u-group-20 {
    height: auto;
    width: 319px;
    background-image: linear-gradient(to bottom, rgba(25, 25, 25, 1), rgba(25, 25, 25, 1));
    --radius: 20px;
    min-height: 50px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    transition-duration: 0.5s;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
    margin-top: 15px;
    margin-right: 29px;
    margin-bottom: 0;
    margin-left: 14px;
  }
  .u-section-1 .u-container-layout-20 {
    padding-left: 0;
    padding-right: 0;
  }
  .u-section-1 .u-icon-12 {
    width: 31px;
    height: 31px;
    --radius: 10px;
    transition-duration: 0.5s;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
    color: rgb(255, 255, 255) !important;
    background-image: none;
    margin-top: 10px;
    margin-right: 9px;
    margin-bottom: 0;
    margin-left: auto;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
  }
  .u-section-1 .u-text-20 {
    font-family: Manrope;
    font-size: 0.875rem;
    margin-top: -26px;
    margin-right: 118px;
    margin-bottom: 0;
    margin-left: 11px;
  }
  .u-section-1 .u-group-21 {
    height: auto;
    width: 320px;
    background-image: linear-gradient(to bottom, rgba(25, 25, 25, 1), rgba(25, 25, 25, 1));
    --radius: 20px;
    min-height: 50px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    transition-duration: 0.5s;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
    margin-top: 15px;
    margin-right: 29px;
    margin-bottom: 0;
    margin-left: 13px;
  }
  .u-section-1 .u-container-layout-21 {
    padding-left: 0;
    padding-right: 0;
  }
  .u-section-1 .u-icon-13 {
    width: 31px;
    height: 31px;
    --radius: 10px;
    transition-duration: 0.5s;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
    color: rgb(255, 255, 255) !important;
    background-image: none;
    margin-top: 10px;
    margin-right: 9px;
    margin-bottom: 0;
    margin-left: auto;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
  }
  .u-section-1 .u-text-21 {
    font-family: Manrope;
    font-size: 0.875rem;
    margin-top: -27px;
    margin-right: 152px;
    margin-bottom: 0;
    margin-left: 17px;
  }
  .u-section-1 .u-group-22 {
    height: auto;
    width: 319px;
    background-image: linear-gradient(to bottom, rgba(25, 25, 25, 1), rgba(25, 25, 25, 1));
    --radius: 20px;
    min-height: 50px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    transition-duration: 0.5s;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
    margin-top: 15px;
    margin-right: 29px;
    margin-bottom: 0;
    margin-left: 14px;
  }
  .u-section-1 .u-container-layout-22 {
    padding-left: 0;
    padding-right: 0;
  }
  .u-section-1 .u-icon-14 {
    width: 31px;
    height: 31px;
    --radius: 10px;
    transition-duration: 0.5s;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
    color: rgb(255, 255, 255) !important;
    background-image: none;
    margin-top: 10px;
    margin-right: 9px;
    margin-bottom: 0;
    margin-left: auto;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
  }
  .u-section-1 .u-text-22 {
    font-family: Manrope;
    font-size: 0.875rem;
    margin-top: -26px;
    margin-right: 154px;
    margin-bottom: 0;
    margin-left: -25px;
  }
  .u-section-1 .u-group-23 {
    width: 469px;
    --radius: 10px;
    height: auto;
    min-height: 388px;
    box-shadow: 0px 0px 2px 0px rgba(128,128,128,1);
    margin-top: 32px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 222px;
  }
  .u-section-1 .u-container-layout-23 {
    padding-top: 10px;
    padding-left: 13px;
    padding-right: 13px;
    padding-bottom: 0;
  }
  .u-section-1 .u-text-23 {
    font-family: Manrope;
    text-shadow: 0px -2px 8px rgba(128,128,128,1);
    margin-top: 18px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 19px;
  }
  .u-section-1 .u-line-6 {
    width: 290px;
    margin-top: 7px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 19px;
  }
  .u-section-1 .u-text-24 {
    font-family: Manrope;
    font-size: 0.875rem;
    margin-top: 15px;
    margin-right: 51px;
    margin-bottom: 0;
    margin-left: 19px;
  }
  .u-section-1 .u-group-24 {
    height: auto;
    width: 174px;
    background-image: none;
    --radius: 20px;
    min-height: 50px;
    margin-top: 34px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 21px;
  }
  .u-section-1 .u-container-layout-24 {
    padding-left: 0;
    padding-right: 0;
  }
  .u-section-1 .u-icon-15 {
    width: 31px;
    height: 31px;
    transition-duration: 0.5s;
    color: rgb(204, 204, 204) !important;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
    margin-top: 12px;
    margin-right: 9px;
    margin-bottom: 0;
    margin-left: auto;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
  }
  .u-section-1 .u-text-25 {
    font-family: Manrope;
    font-size: 0.875rem;
    margin-top: -29px;
    margin-right: 52px;
    margin-bottom: 0;
    margin-left: 7px;
  }
  .u-section-1 .u-group-25 {
    height: auto;
    width: 208px;
    background-image: none;
    --radius: 20px;
    min-height: 50px;
    margin-top: -51px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 217px;
  }
  .u-section-1 .u-container-layout-25 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
  }
  .u-section-1 .u-text-26 {
    font-family: Manrope;
    font-size: 0.875rem;
    margin-top: 14px;
    margin-right: 47px;
    margin-bottom: 0;
    margin-left: 13px;
  }
  .u-section-1 .u-icon-16 {
    width: 31px;
    height: 31px;
    transition-duration: 0.5s;
    color: rgb(204, 204, 204) !important;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
    margin-top: -25px;
    margin-right: 9px;
    margin-bottom: 0;
    margin-left: auto;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
  }
  .u-section-1 .u-group-26 {
    height: auto;
    width: 362px;
    background-image: none;
    --radius: 20px;
    min-height: 266px;
    box-shadow: 0px 0px 2px 0px rgba(128,128,128,1);
    margin-top: -381px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 735px;
  }
  .u-section-1 .u-container-layout-26 {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-section-1 .u-text-27 {
    font-weight: 700;
    font-family: Manrope;
    text-shadow: 0px -2px 8px rgba(128,128,128,1);
    margin-top: 23px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
  }
  .u-section-1 .u-line-7 {
    width: 290px;
    margin-top: 7px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
  }
  .u-section-1 .u-group-27 {
    height: auto;
    width: 320px;
    background-image: linear-gradient(to bottom, rgba(25, 25, 25, 1), rgba(25, 25, 25, 1));
    --radius: 20px;
    min-height: 50px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    transition-duration: 0.5s;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
    margin-top: 15px;
    margin-right: 29px;
    margin-bottom: 0;
    margin-left: 14px;
  }
  .u-section-1 .u-container-layout-27 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
  }
  .u-section-1 .u-text-28 {
    font-family: Manrope;
    font-size: 0.875rem;
    margin-top: 15px;
    margin-right: 103px;
    margin-bottom: 0;
    margin-left: 11px;
  }
  .u-section-1 .u-icon-17 {
    width: 26px;
    height: 26px;
    color: rgb(162, 145, 253) !important;
    margin-top: -25px;
    margin-right: 14px;
    margin-bottom: 0;
    margin-left: auto;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-section-1 .u-group-28 {
    height: auto;
    width: 320px;
    background-image: linear-gradient(to bottom, rgba(25, 25, 25, 1), rgba(25, 25, 25, 1));
    --radius: 20px;
    min-height: 50px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    transition-duration: 0.5s;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
    margin-top: 15px;
    margin-right: 29px;
    margin-bottom: 0;
    margin-left: 13px;
  }
  .u-section-1 .u-container-layout-28 {
    padding-left: 0;
    padding-right: 0;
  }
  .u-section-1 .u-icon-18 {
    width: 31px;
    height: 31px;
    transition-duration: 0.5s;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
    margin-top: 10px;
    margin-right: 9px;
    margin-bottom: 0;
    margin-left: auto;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
  }
  .u-section-1 .u-text-29 {
    font-family: Manrope;
    font-size: 0.875rem;
    margin-top: -27px;
    margin-right: 201px;
    margin-bottom: 0;
    margin-left: 13px;
  }
  .u-section-1 .u-group-29 {
    height: auto;
    width: 319px;
    background-image: linear-gradient(to bottom, rgba(25, 25, 25, 1), rgba(25, 25, 25, 1));
    --radius: 20px;
    min-height: 50px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    transition-duration: 0.5s;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
    margin-top: 15px;
    margin-right: 29px;
    margin-bottom: 0;
    margin-left: 14px;
  }
  .u-section-1 .u-container-layout-29 {
    padding-left: 0;
    padding-right: 0;
  }
  .u-section-1 .u-icon-19 {
    width: 31px;
    height: 31px;
    --radius: 10px;
    transition-duration: 0.5s;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
    color: rgb(162, 145, 253) !important;
    background-image: none;
    margin-top: 10px;
    margin-right: 9px;
    margin-bottom: 0;
    margin-left: auto;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
  }
  .u-section-1 .u-text-30 {
    font-family: Manrope;
    font-size: 0.875rem;
    margin-top: -27px;
    margin-right: 200px;
    margin-bottom: 0;
    margin-left: 13px;
  }
  .u-section-1 .u-group-30 {
    height: auto;
    width: 171px;
    background-image: none;
    --radius: 20px;
    min-height: 100px;
    box-shadow: 0px 0px 2px 0px rgba(128,128,128,1);
    margin-top: 22px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 734px;
  }
  .u-section-1 .u-container-layout-30 {
    padding-bottom: 0;
  }
  .u-section-1 .u-icon-20 {
    width: 21px;
    height: 51px;
    color: rgb(162, 145, 253) !important;
    margin-top: 18px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-section-1 .u-btn-3 {
    --radius: 4px;
    background-image: linear-gradient(to right, #191919, #212121);
    font-weight: 700;
    font-size: 0.9375rem;
    box-shadow: 0px 0px 8px 0px rgba(128,128,128,1);
    margin-top: -20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 35px;
    padding-right: 35px;
  }
  .u-section-1 .u-group-31 {
    height: auto;
    width: 171px;
    background-image: none;
    --radius: 20px;
    min-height: 100px;
    box-shadow: 0px 0px 2px 0px rgba(128,128,128,1);
    margin-top: -100px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 926px;
  }
  .u-section-1 .u-container-layout-31 {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-section-1 .u-icon-21 {
    width: 24px;
    height: 24px;
    color: rgb(162, 145, 253) !important;
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-section-1 .u-btn-4 {
    --radius: 4px;
    background-image: linear-gradient(to right, #191919, #212121);
    font-weight: 700;
    font-size: 0.9375rem;
    box-shadow: 0px 0px 8px 0px rgba(128,128,128,1);
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 21px;
    padding-right: 21px;
  }
  .u-section-1 .u-group-32 {
    width: 872px;
    --radius: 10px;
    height: auto;
    min-height: 232px;
    box-shadow: 0px 0px 3px 0px rgba(128,128,128,1);
    margin-top: 46px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
  }
  .u-section-1 .u-container-layout-32 {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 0;
    padding-right: 0;
  }
  .u-section-1 .u-text-31 {
    font-family: Manrope;
    font-size: 0.875rem;
    margin-top: 9px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
  }
  .u-section-1 .u-icon-22 {
    width: 23px;
    height: 23px;
    color: rgb(162, 145, 253) !important;
    margin-top: -19px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 363px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-section-1 .u-text-32 {
    font-size: 1rem;
    width: 372px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
  }
  .u-section-1 .u-line-8 {
    width: 693px;
    margin-top: 12px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
  }
  .u-section-1 .u-group-33 {
    height: auto;
    width: 208px;
    background-image: none;
    --radius: 20px;
    min-height: 50px;
    margin-top: 17px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 105px;
  }
  .u-section-1 .u-container-layout-33 {
    padding-left: 0;
    padding-right: 0;
  }
  .u-section-1 .u-icon-23 {
    width: 31px;
    height: 31px;
    transition-duration: 0.5s;
    color: rgb(204, 204, 204) !important;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
    margin-top: 12px;
    margin-right: 9px;
    margin-bottom: 0;
    margin-left: auto;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
  }
  .u-section-1 .u-text-33 {
    font-family: Manrope;
    font-size: 0.875rem;
    margin-top: -29px;
    margin-right: 47px;
    margin-bottom: 0;
    margin-left: 13px;
  }
  .u-section-1 .u-group-34 {
    height: auto;
    width: 208px;
    background-image: none;
    --radius: 20px;
    min-height: 50px;
    margin-top: -51px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 338px;
  }
  .u-section-1 .u-container-layout-34 {
    padding-left: 0;
    padding-right: 0;
  }
  .u-section-1 .u-icon-24 {
    width: 31px;
    height: 31px;
    transition-duration: 0.5s;
    color: rgb(204, 204, 204) !important;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
    margin-top: 13px;
    margin-right: 9px;
    margin-bottom: 0;
    margin-left: auto;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
  }
  .u-section-1 .u-text-34 {
    font-family: Manrope;
    font-size: 0.875rem;
    margin-top: -30px;
    margin-right: 47px;
    margin-bottom: 0;
    margin-left: 13px;
  }
  .u-section-1 .u-group-35 {
    height: auto;
    width: 191px;
    background-image: none;
    --radius: 20px;
    min-height: 50px;
    margin-top: -50px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 570px;
  }
  .u-section-1 .u-container-layout-35 {
    padding-left: 0;
    padding-right: 0;
  }
  .u-section-1 .u-text-35 {
    font-family: Manrope;
    font-size: 0.875rem;
    margin-top: 14px;
    margin-right: 51px;
    margin-bottom: 0;
    margin-left: 18px;
  }
  .u-section-1 .u-icon-25 {
    width: 31px;
    height: 31px;
    transition-duration: 0.5s;
    color: rgb(204, 204, 204) !important;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
    margin-top: -22px;
    margin-right: 11px;
    margin-bottom: 0;
    margin-left: auto;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
  }
  .u-section-1 .u-group-36 {
    height: auto;
    width: 228px;
    background-image: none;
    --radius: 20px;
    min-height: 50px;
    margin-top: 13px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 104px;
  }
  .u-section-1 .u-container-layout-36 {
    padding-left: 0;
    padding-right: 0;
  }
  .u-section-1 .u-icon-26 {
    width: 31px;
    height: 31px;
    transition-duration: 0.5s;
    color: rgb(204, 204, 204) !important;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
    margin-top: 14px;
    margin-right: 9px;
    margin-bottom: 0;
    margin-left: auto;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
  }
  .u-section-1 .u-text-36 {
    font-family: Manrope;
    font-size: 0.875rem;
    margin-top: -31px;
    margin-right: 66px;
    margin-bottom: 0;
    margin-left: 20px;
  }
  .u-section-1 .u-group-37 {
    height: auto;
    width: 172px;
    background-image: none;
    --radius: 20px;
    min-height: 50px;
    margin-top: -50px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 570px;
  }
  .u-section-1 .u-container-layout-37 {
    padding-left: 0;
    padding-right: 0;
  }
  .u-section-1 .u-icon-27 {
    width: 31px;
    height: 31px;
    transition-duration: 0.5s;
    color: rgb(204, 204, 204) !important;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
    margin-top: 10px;
    margin-right: 9px;
    margin-bottom: 0;
    margin-left: auto;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
  }
  .u-section-1 .u-text-37 {
    font-family: Manrope;
    font-size: 0.875rem;
    margin-top: -27px;
    margin-right: 48px;
    margin-bottom: 0;
    margin-left: 18px;
  }
  .u-section-1 .u-group-38 {
    height: auto;
    width: 187px;
    background-image: none;
    --radius: 20px;
    min-height: 50px;
    margin-top: -50px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 357px;
  }
  .u-section-1 .u-container-layout-38 {
    padding-left: 0;
    padding-right: 0;
  }
  .u-section-1 .u-icon-28 {
    width: 31px;
    height: 31px;
    transition-duration: 0.5s;
    color: rgb(153, 153, 153) !important;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
    margin-top: 12px;
    margin-right: 13px;
    margin-bottom: 0;
    margin-left: auto;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
  }
  .u-section-1 .u-text-38 {
    font-family: Manrope;
    font-size: 0.875rem;
    margin-top: -29px;
    margin-right: 55px;
    margin-bottom: 0;
    margin-left: 18px;
  }
}


